.view-body {
  display: flex; }

.page-wrapper {
  padding-top: 25px; }

body {
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden; }

.main-wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #E9EAD3;
  overflow: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */ }

.footer {
  padding-top: 15px;
  background-color: #f5f5f5;
  margin: 20px;
  margin: 0; }

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 650px;
  justify-content: space-around;
  font-size: 44px; }

.login_title {
  font-size: 42px;
  font-weight: bold;
  margin-top: 2em; }

.login_subtitle {
  font-size: 24px;
  margin-bottom: 2em; }

.form_class {
  display: flex;
  flex-direction: column;
  width: 80%; }

.form_holder {
  font-weight: bold;
  font-size: 15px; }

.general_button {
  margin-top: 1em; }

/* ------------------ TOP ----------------*/
.button-carousel-wrapper {
  position: relative;
  padding-top: 5vh; }

.carousel-holder {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.carousel-inner > .item > img, .carousel .carousel-inner > .item > a > img {
  height: 95vh; }
.carousel-control {
  width: 4%; }
.carousel-control.left {
  background-image: linear-gradient(to right, transparent 0, transparent 100%); }
.carousel-control.left:hover {
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }
.carousel-control.right {
  background-image: linear-gradient(to right, transparent 0, transparent 100%); }
.carousel-control.right:hover {
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }
.carousel-indicators li {
  margin-left: 20px;
  margin-right: 20px; }
.carousel-indicators .active {
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px; }

/* ------------------ MIDDLE ----------------*/
.main-view-text-holder {
  margin-top: 8vh;
  margin-bottom: 8vh;
  display: flex;
  justify-content: center;
  display: flex;
  font-family: lato, sans-serif;
  font-size: 28px;
  align-items: center; }
.main-view-font1 {
  font-size: 74px; }
.main-view-font2 {
  padding-left: 32px;
  font-size: 44px; }

.image-holder {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  margin-bottom: 8vh;
  justify-content: center;
  margin-left: 4vw;
  margin-right: 4vw;
  justify-content: space-around; }

.image-container {
  max-width: 23vw;
  max-height: 35vh;
  overflow: hidden;
  position: relative;
  border-radius: 4px; }
.image-container img {
  display: flex;
  max-width: 500px;
  max-height: 500px;
  -webkit-transition: all 400ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 400ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 400ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 400ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }
.image-container:hover {
  cursor: pointer; }
.image-container:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 1000ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 1000ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 1000ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 1000ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }

.image-text {
  z-index: 99;
  min-width: 500px;
  min-height: 400px;
  position: absolute; }
.image-text h1 {
  font-family: lato, sans-serif;
  font-size: 112px;
  color: #ffffe6;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px; }
.image-text:hover h1 {
  font-size: 112px;
  color: #ffffe6;
  text-align: center;
  -webkit-text-fill-color: #ffffe6;
  -webkit-text-stroke-width: 2px; }

.carousel-bottom-holder {
  margin-top: 8vh;
  display: flex;
  justify-content: space-around; }
  .carousel-bottom-holder-right {
    padding-left: 10vw;
    display: flex; }

#bottom-right-carousel {
  width: 25vw;
  height: 15vh;
  border-radius: 4px; }

#bottom-right-carousel-lower {
  width: 25vw;
  height: 15vh;
  border-radius: 4px; }

#bottom-left-carousel {
  width: 49vw;
  height: 60vh;
  border-radius: 4px; }

/* ------------------ BOTTOM ----------------*/
/* ------------------ IMAGES ----------------*/
.map-page-holder {
  overflow: none;
  height: 100%;
  width: 100%; }

.map-holder {
  text-align: center;
  display: flex;
  /*flex-direction: column;
  justify-content: baseline;*/
  width: 100vw;
  height: 100vh; }

/* It takes up 100 percent of its holder's space */
#map_canvas {
  z-index: 99;
  position: relative;
  width: 100%;
  height: 100%; }

.map-info-holder {
  z-index: 100;
  position: absolute;
  top: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none; }

.map-button-holder {
  z-index: 100;
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center !important; }

.map-button {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: .2em;
  background-color: black;
  color: white;
  border-style: none;
  cursor: pointer; }

.map-button:hover {
  background-color: #d9d9d9;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.69, 0.83, 0.68, 0.93);
  -o-transition: all 100ms cubic-bezier(0.69, 0.83, 0.68, 0.93);
  transition: all 100ms cubic-bezier(0.69, 0.83, 0.68, 0.93); }

.map-button:active {
  background-color: #f2f2f2; }

.map-button p {
  margin-left: .2em;
  margin-right: .2em; }

/* Push the main viewport a little bit down */
.main-view {
  height: 20%; }

.tabs-holder {
  position: fixed;
  clear: both;
  top: 0;
  left: 0;
  z-index: 199;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  min-height: 5vh;
  width: 100vw;
  background-color: white;
  align-items: center; }

.tabs-under {
  top: 0;
  left: 0;
  z-index: 198;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 5vh;
  width: 100vw;
  background-color: white; }

.nav-tabs {
  border-bottom: 0px; }

.header-text {
  font-size: 28px;
  margin: 0px; }

.background-image {
  background-image: url("../images/bg2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right top; }

.tabs-logo-img {
  max-width: 50px;
  max-height: 50px; }

.shop-view-holder {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'lato', sans-serif;
  padding-top: 5vh; }

.shop-content-holder {
  width: 100%;
  height: 100%;
  padding-left: 3em;
  padding-top: 3em;
  display: flex; }

.shop-content-main-holder {
  max-width: 750px; }

.shop-content-main-image {
  max-height: 450px; }

.shop-content-main-image-small-holder {
  display: flex;
  flex-direction: row;
  border-top: solid;
  border-width: 5px; }

.shop-content-main-description-object {
  font-size: 42px; }

.shop-content-main-description-details {
  font-size: 24px; }

.shop-content-rightbar-holder {
  padding-left: 3em; }

.shop-content-rightbar-size-holder {
  padding-top: 1em; }

.shop-content-rightbar-size-selector-holder {
  display: flex; }

.shop-content-rightbar-size-selector {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  margin: 3px;
  width: 60px;
  height: 35px;
  border: solid; }

.shop-content-rightbar-size-selector:hover {
  color: #a6a6a6;
  cursor: pointer;
  border-color: #a6a6a6; }

.shop-content-rightbar-cart-holder {
  padding-top: 1em; }

.userprofile-content {
  padding-left: 3em;
  padding-top: 3em; }

.two-row {
  font-family: lato, sans-serif;
  font-size: 28px;
  display: flex;
  margin-bottom: 2em; }

.footer-wrapper {
  background-color: #d9d9d9;
  height: 40vh;
  width: 100vw; }

.nav-tabs > li > a {
  color: #323232;
  border-radius: 0px;
  margin: 0px;
  border: 0px; }
.nav-tabs > li > a:hover {
  cursor: pointer;
  background-color: #323232;
  color: white;
  margin: 0px;
  -webkit-transition: all 500ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 500ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 500ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 500ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: white;
  cursor: pointer;
  border: 0px;
  background-color: #323232;
  border: 0px;
  margin: 0px;
  -webkit-transition: all 500ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 500ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 500ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 500ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }

.button:hover {
  cursor: pointer; }
.button:hover #line1 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #line2 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #line3 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #line4 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line1 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line2 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line3 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line4 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line5 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line6 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line7 {
  stroke: #eeeeee;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }

#prof_button {
  margin-right: 30px; }

.svg_buttons {
  display: flex;
  justify-content: space-around; }

.dropdown-menu {
  min-width: 0px;
  left: -30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #ccc; }
  .dropdown-menu > li > a:hover {
    background-color: #323232;
    color: #ffffff;
    -webkit-transition: all 200ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
    -moz-transition: all 200ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
    -o-transition: all 200ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
    transition: all 200ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }

.navbar-button {
  font-style: bold;
  color: #0d0d0d; }
.navbar-button:hover {
  cursor: pointer;
  background: linear-gradient(to right, white 90%, black 10%); }

.navbar-bracelet-content {
  opacity: 0;
  height: 0;
  overflow: hidden; }

.navbar-bracelet-content-visible {
  opacity: 1;
  height: 100%; }
.navbar-bracelet-content-visible p {
  font-size: 24px; }
.navbar-bracelet-content-visible p:hover {
  color: black;
  background-color: #d9d9d9;
  cursor: pointer; }
.navbar-bracelet-content-visible p:hover::after {
  content: "' ''"; }

.navbar-bracelet-content-text-active {
  background-color: #d9d9d9;
  color: black; }
.navbar-bracelet-content-text-active::after {
  content: "' ''"; }

.main-start-button {
  font-family: lato, sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-left: -15vw;
  align-content: center; }

#main-start-button {
  position: absolute;
  bottom: 125px;
  text-align: center;
  z-index: 99;
  font-size: 74px;
  width: 15vw;
  color: #ffffe6;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  background-color: transparent;
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
  border-color: #ffffe6;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px; }
#main-start-button:hover {
  color: #ffffe6;
  -webkit-text-fill-color: #ffffe6;
  -webkit-text-stroke-width: 1px;
  -webkit-transition: all 200ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 200ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 200ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 200ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }

.userprofile-btn {
  font-size: 18px;
  margin-left: 1em; }
.userprofile-btn-pass {
  margin-left: 0px;
  font-size: 18px; }

.navbar-holder {
  margin: 0 !important;
  height: 100%;
  width: 15%;
  display: flex;
  margin: 15px;
  flex-direction: column;
  font-size: 34px; }
.navbar-holder-profile {
  width: 14%; }

.navbar-content-holder {
  padding-top: 1em;
  padding-left: 20px; }

.navbar-static-text {
  font-size: 38px;
  text-align: center;
  color: white;
  background-color: black; }

#navbar-blackline {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  color: black;
  width: 100%;
  height: 10px; }

/*# sourceMappingURL=application.css.map */
