.view-body {
  display: flex; }

.page-wrapper {
  padding-top: 25px; }

body {
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden; }

.main-wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #E9EAD3;
  overflow: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */ }

.footer {
  padding-top: 15px;
  background-color: #f5f5f5;
  margin: 20px;
  margin: 0; }

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 650px;
  justify-content: space-around;
  font-size: 44px; }

.login_title {
  font-size: 42px;
  font-weight: bold;
  margin-top: 2em; }

.login_subtitle {
  font-size: 24px;
  margin-bottom: 2em; }

.form_class {
  display: flex;
  flex-direction: column;
  width: 80%; }

.form_holder {
  font-weight: bold;
  font-size: 15px; }

.general_button {
  margin-top: 1em; }

/* ------------------ TOP ----------------*/
.button-carousel-wrapper {
  position: relative;
  padding-top: 5vh; }

.carousel-holder {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.carousel-inner > .item > img, .carousel .carousel-inner > .item > a > img {
  height: 85vh; }
.carousel-control {
  width: 4%; }
.carousel-control.left {
  background-image: linear-gradient(to right, transparent 0, transparent 100%); }
.carousel-control.left:hover {
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }
.carousel-control.right {
  background-image: linear-gradient(to right, transparent 0, transparent 100%); }
.carousel-control.right:hover {
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 500ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }
.carousel-indicators {
  visibility: hidden;
  width: 100%;
  left: 0;
  margin-left: 0; }
.carousel-indicators li {
  margin-left: 20px;
  margin-right: 20px; }
.carousel-indicators .active {
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px; }

/* ------------------ MIDDLE ----------------*/
.main-middle-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  background-color: #ebeced;
  margin-top: 6vh;
  margin-bottom: 6vh; }

.main-middle-text-holder {
  margin-top: 6vh;
  margin-bottom: 6vh;
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.main-middle-text-holder-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%; }
.main-middle-text-holder-header h1 {
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
  font-size: 48px; }
.main-middle-text-holder-header::after {
  content: "";
  display: block;
  height: 7px;
  width: 250px;
  margin: 40px auto 0;
  background-color: #cbc5c1; }

.main-middle-text-holder-steps {
  text-align: center;
  padding-top: 10vh; }
.main-middle-text-holder-steps h1 {
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
  font-size: 36px; }
.main-middle-text-holder-steps p {
  font-family: lato, sans-serif;
  font-size: 22px;
  margin-left: 10%;
  margin-right: 10%; }

#step-first {
  float: left;
  width: 28%; }

#step-middle {
  float: left;
  width: 44%; }

#step-last {
  float: left;
  width: 28%; }

.main-middle-picture-holder {
  justify-content: center;
  display: flex;
  margin-bottom: 6vh;
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative; }

.main-middle-picture-holder img {
  display: flex;
  position: relative;
  width: 70%; }

.main-middle-picture-holder-sub img {
  width: 100%;
  padding-left: 2vw;
  display: flex;
  flex-direction: column; }

#small-img-top {
  padding-bottom: 1vh;
  overflow: hidden;
  position: relative; }
#small-img-bottom {
  padding-top: 1vh;
  overflow: hidden;
  position: relative; }

/* ------------------ BOTTOM ----------------*/
/* ------------------ IMAGES ----------------*/
.map-page-holder {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding-top: 5vh; }

.map-holder {
  z-index: 99;
  text-align: center;
  width: 100vw;
  height: 90vh;
  /*box-shadow: 2px 2px 10px grey; */
  position: relative; }

#map_canvas {
  z-index: 99;
  position: relative;
  width: 100%;
  height: 100%; }

.map-coords-display-holder {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  color: white; }
.map-coords-display-holder p {
  letter-spacing: 13px;
  font-size: 1.1em;
  font-family: lucidia, serif; }
.map-coords-display-holder p span {
  padding-left: 20px;
  font-size: 1em !important;
  font-family: lato, sans-serif; }

.map-text-holder {
  z-index: 1;
  position: relative;
  padding-top: 10px;
  color: #3e3e3b; }
.map-text-holder-main-coordinates {
  display: flex;
  justify-content: space-around; }
.map-text-holder-main-coordinates h1 {
  letter-spacing: 13px;
  font-size: 54px;
  font-family: lucidia, serif; }
.map-text-holder-main-coordinates h1 span {
  padding-left: 20px;
  font-size: 50px;
  font-family: lato, sans-serif; }
.map-text-holder-saved-coordinates {
  display: flex;
  justify-content: center;
  align-items: center; }
.map-text-holder-saved-coordinates div {
  display: flex;
  margin-left: 20px;
  margin-right: 20px; }
.map-text-holder-saved-coordinates h1:hover {
  cursor: pointer; }
.map-text-holder-saved-coordinates div::after {
  /* use to place div turqouise blocks */ }
.map-text-holder-saved-coordinates-block {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 12px;
  height: 24px;
  background-color: #18A6B7; }
.map-text-holder-saved-coordinates h1 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  font-family: lucidia, serif; }
.map-text-holder-saved-coordinates h1 span {
  padding-left: 20px;
  font-size: 20px;
  font-family: lato, sans-serif; }
.map-text-holder-saved-coordinates-s1 {
  display: flex; }
.map-text-holder .arrow {
  width: 0;
  height: 0; }
.map-text-holder .arrow-left:hover {
  cursor: pointer; }
.map-text-holder .arrow-right:hover {
  cursor: pointer; }
.map-text-holder .arrow-left {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #18A6B7; }
.map-text-holder .arrow-right {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #18A6B7; }

/* Push the main viewport a little bit down */
.main-view {
  height: 20%; }

.tabs-holder {
  position: fixed;
  clear: both;
  top: 0;
  left: 0;
  z-index: 199;
  display: flex;
  justify-content: space-around;
  font-family: lato, sans-serif;
  font-size: 28px;
  padding-bottom: 0px;
  max-height: 8vh;
  width: 100vw;
  background-color: white;
  align-items: center; }

.tabs-under {
  top: 0;
  left: 0;
  z-index: 198;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 5vh;
  width: 100vw;
  background-color: white; }

.nav-tabs {
  border-bottom: 0px; }

.header-text {
  font-size: 28px;
  margin: 0px; }

.background-image {
  background-image: url("../images/bg2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right top; }

.tabs-logo-img {
  max-width: 50px;
  max-height: 50px; }

.shop-view-holder {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'lato', sans-serif;
  padding-top: 5vh; }

.shop-content-holder {
  width: 100%;
  height: 100%;
  padding-left: 3em;
  padding-top: 3em;
  display: flex; }

.shop-content-main-holder {
  max-width: 750px; }

.shop-content-main-image {
  max-height: 450px; }

.shop-content-main-image-small-holder {
  display: flex;
  flex-direction: row;
  border-top: solid;
  border-width: 5px; }

.shop-content-main-description-object {
  font-size: 42px; }

.shop-content-main-description-details {
  font-size: 24px; }

.shop-content-rightbar-holder {
  padding-left: 3em; }

.shop-content-rightbar-size-holder {
  padding-top: 1em; }

.shop-content-rightbar-size-selector-holder {
  display: flex; }

.shop-content-rightbar-size-selector {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  margin: 3px;
  width: 60px;
  height: 35px;
  border: solid; }

.shop-content-rightbar-size-selector:hover {
  color: #a6a6a6;
  cursor: pointer;
  border-color: #a6a6a6; }

.shop-content-rightbar-cart-holder {
  padding-top: 1em; }

.userprofile-content {
  padding-left: 3em;
  padding-top: 3em; }

.two-row {
  font-family: lato, sans-serif;
  font-size: 28px;
  display: flex;
  margin-bottom: 2em; }

.footer-wrapper {
  background-color: #ebeced;
  height: 40vh;
  width: 100vw; }

.footer-text {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-around;
  padding-top: 5vh; }
.footer-text-product h1 {
  font-family: Roboto Condensed, sans-serif;
  font-size: 25px; }
.footer-text-product h1::after {
  content: "";
  display: block;
  height: 7px;
  width: 150px;
  margin: 20px auto 0;
  background-color: #cbc5c1; }
.footer-text-product p {
  font-size: 20px;
  font-family: lato, sans-serif; }
.footer-text-product p:hover {
  text-decoration: underline;
  cursor: pointer; }
.footer-text-company h1 {
  font-family: Roboto Condensed, sans-serif;
  font-size: 25px; }
.footer-text-company h1::after {
  content: "";
  display: block;
  height: 7px;
  width: 150px;
  margin: 20px auto 0;
  background-color: #cbc5c1; }
.footer-text-company p {
  font-size: 20px;
  font-family: lato, sans-serif; }
.footer-text-company p:hover {
  text-decoration: underline;
  cursor: pointer; }
.footer-text-contact h1 {
  font-family: Roboto Condensed, sans-serif;
  font-size: 25px; }
.footer-text-contact h1::after {
  content: "";
  display: block;
  height: 7px;
  width: 150px;
  margin: 20px auto 0;
  background-color: #cbc5c1; }
.footer-text-contact p {
  font-size: 20px;
  font-family: lato, sans-serif; }
.footer-text-contact p:hover {
  text-decoration: underline;
  cursor: pointer; }
.footer-text-social h1 {
  font-family: Roboto Condensed, sans-serif;
  font-size: 25px; }
.footer-text-social h1::after {
  content: "";
  display: block;
  height: 7px;
  width: 150px;
  margin: 20px auto 0;
  background-color: #cbc5c1; }
.footer-text-social p {
  font-size: 20px;
  font-family: lato, sans-serif; }
.footer-text-social p:hover {
  text-decoration: underline;
  cursor: pointer; }

.nav-tabs > li > a {
  color: #3e3e3b;
  border-radius: 0px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
  -webkit-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }
.nav-tabs > li > a::after {
  content: "";
  height: 6px;
  background-color: #18A6B7;
  left: 0;
  right: 0;
  top: -4px;
  -webkit-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }
.nav-tabs > li > a:hover {
  cursor: pointer;
  color: #18A6B7;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  -webkit-transition: all 200ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 200ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 200ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 200ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  background-color: white; }
.nav-tabs > li > a:hover::after {
  -webkit-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  position: absolute;
  top: 0px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #18A6B7;
  cursor: pointer;
  border: 0px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  -webkit-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }
.nav-tabs > li.active > a::after {
  position: absolute;
  top: 0px;
  -webkit-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -webkit-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  -o-transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
  transition: all 300ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }

.button:hover {
  cursor: pointer; }
.button:hover #line1 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #line2 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #line3 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #line4 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line1 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line2 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line3 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line4 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line5 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line6 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }
.button:hover #prof_line7 {
  stroke: #18A6B7;
  -webkit-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -moz-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  -o-transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575);
  transition: all 100ms cubic-bezier(0.22, 0.99, 0.11, 0.575); }

#prof_button {
  margin-right: 30px; }

.svg_buttons {
  display: flex;
  justify-content: space-around; }

.dropdown-menu {
  min-width: 0px;
  left: -30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #ccc; }
  .dropdown-menu > li > a:hover {
    background-color: white;
    color: #18A6B7;
    -webkit-transition: all 200ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
    -moz-transition: all 200ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
    -o-transition: all 200ms cubic-bezier(0.2, 0.01, 0.63, 0.98);
    transition: all 200ms cubic-bezier(0.2, 0.01, 0.63, 0.98); }

.navbar-button {
  font-style: bold;
  color: #0d0d0d; }
.navbar-button:hover {
  cursor: pointer;
  background: linear-gradient(to right, white 90%, black 10%); }

.navbar-bracelet-content {
  opacity: 0;
  height: 0;
  overflow: hidden; }

.navbar-bracelet-content-visible {
  opacity: 1;
  height: 100%; }
.navbar-bracelet-content-visible p {
  font-size: 24px; }
.navbar-bracelet-content-visible p:hover {
  color: black;
  background-color: #d9d9d9;
  cursor: pointer; }
.navbar-bracelet-content-visible p:hover::after {
  content: ""; }

.navbar-bracelet-content-text-active {
  background-color: #d9d9d9;
  color: black; }
.navbar-bracelet-content-text-active::after {
  content: ""; }

.main-start-button-holder {
  font-family: Montserrat, sans-serif;
  width: 100vw;
  font-weight: 300;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99;
  bottom: 12vh; }

.main-start-button {
  text-align: center;
  font-size: 56px;
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border-width: 4px;
  border-style: solid;
  border-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px; }
.main-start-button:hover {
  cursor: pointer; }

.userprofile-btn {
  font-size: 18px;
  margin-left: 1em; }
.userprofile-btn-pass {
  margin-left: 0px;
  font-size: 18px; }

.navbar-holder {
  margin: 0 !important;
  height: 100%;
  width: 15%;
  display: flex;
  margin: 15px;
  flex-direction: column;
  font-size: 34px; }
.navbar-holder-profile {
  width: 14%; }

.navbar-content-holder {
  padding-top: 1em;
  padding-left: 20px; }

.navbar-static-text {
  font-size: 38px;
  text-align: center;
  color: white;
  background-color: black; }

#navbar-blackline {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  color: black;
  width: 100%;
  height: 10px; }

/*# sourceMappingURL=application.css.map */
