<div class="view-body">

	<div class="navbar-holder">

		<div class="navbar-content-holder">
			<div class="navbar-static-text">
				profile
			</div>

			<div id="navbar-blackline"></div>

			<div>

            	<div class="navbar-button">settings</div>

            	<div class="navbar-button">history</div>

            	<div class="navbar-button">logout</div>

            </div>
 
		</div>

	</div>


	<div>

		<p>{{user.name}}</p>
		<p>{{user.email}}</p>
		<p>change password</p>

		<p>_______________________</p>

		<p>billing method</p>

		<p>shipping method</p>
	</div>




</div>
