<div class="view-body">

	<div class="navbar-holder-profile">

		<div class="navbar-content-holder">
			<div class="navbar-static-text">
				profile
			</div>

			<div id="navbar-blackline"></div>

			<div>

            	<div class="navbar-button">settings</div>

            	<div class="navbar-button">history</div>

            	<div class="navbar-button">logout</div>

            </div>
 
		</div>

	</div>


	<div class="userprofile-content">

		<h1>name</h1>
		<div class="two-row">
		<p>{{user.name}}</p>
		<button type="button" class="btn btn-warning">change</button>
		</div>

		<h1>email</h1>
		<div class="two-row">
		<p>{{user.email}}</p>
		<button type="button" class="btn btn-warning">change</button>
		</div>

		<div class="two-row">
		<button type="button" class="btn btn-warning">change password</button>
		</div>

		<p>_______________________</p>

		<div class="two-row">
		<p>billing method</p>
		<button type="button" class="btn btn-warning">change</button>
		</div>

		<div class="two-row">
		<p>shipping method</p>
		<button type="button" class="btn btn-warning">change</button>
		</div>
	</div>




</div>
