// buttons



// Tab Buttons

  .nav-tabs>li>a{
    & {
      color: $tabColor;
      border-radius: 0px;
      margin-bottom: 1px;
      @include leftRightMargins(0px, 0px);
      border: 0px;
      @include animate-ease(300ms);
    }

    &::after{
      content: "";
      height: 6px;
      background-color: $icon;
      left: 0;
      right: 0;
      top: -4px;
      @include animate-ease(300ms);
    }

    &:hover {
      &{      
        cursor: pointer;
        color: $icon;
        margin-bottom: 1px;
        @include leftRightMargins(0px, 0px);
        @include animate-ease(200ms);
        background-color: white;
      }
      &::after{
        @include animate-ease(300ms);
        position: absolute;
        top: 0px;
      }
    }
  }

  .nav-tabs>li.active>a{
    &, &:hover, &:focus {
      color: $icon;
      cursor: pointer;
      border: 0px;
      margin-bottom: 1px;
      @include leftRightMargins(0px, 0px);
      @include animate-ease(300ms);
    }
    &::after{
        position: absolute;
        top: 0px;@include animate-ease(300ms);
        @include animate-ease(300ms);
      }
  }

// Tab SVG Buttons

.button:hover {
  & {
  cursor: pointer;
  }

  & #line1 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #line2 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #line3 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #line4 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #prof_line1 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #prof_line2 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #prof_line3 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #prof_line4 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #prof_line5 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #prof_line6 {
  stroke: $icon;
  @include animation(100ms);
  }
  & #prof_line7 {
  stroke: $icon;
  @include animation(100ms);
  }
}

#prof_button {
  margin-right: 30px;
}

// Dropdown Menu Buttons

.dropdown-menu{
  min-width: 0px;
  left: -30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #ccc;
  &>li>a:hover{
    background-color: white;
    color: $icon;
    @include animate-ease(200ms);
  }
}

// Navbar Buttons

.navbar-button {
  &{
    @include fontSelect(lato, sans-serif);
    color: $tabColor;
    font-size: 34px;
    @include animate-ease(300ms);
  }
  &::before{
    margin-top: 8px;
    content: "";
    height: 1em;
    width: 1em;
    background-color: rgba(24,166,183, 0);
    @include animate-ease(300ms);
    position: absolute;
    left: 13vw;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  &:hover{
    padding-left: 1.2em;
    cursor: pointer;
    color: $icon;
    @include animate-ease(300ms);
  }
  &:hover::before{
    content: "";
    height: 1em;
    width: 1em;
    left: 15vw;
    background-color: rgba(24,166,183, 1);
    @include animate-ease(300ms);
  }
  &-active{
    padding-left: 1.2em;
    color: $icon;
  }
  &-active::before{
    color: $icon;
    content: "";
    height: 1em;
    width: 1em;
    left: 15vw;
    background-color: rgba(24,166,183, 1);
    @include animate-ease(300ms);
  }
}

.navbar-bracelet-content{
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

.navbar-bracelet-content-visible{
  & {
    opacity: 1;
    height: 100%;
  }
  & p {
    font-size: 24px;
  }
  & p:hover {
    color: black;
    background-color: #d9d9d9;
    cursor: pointer;
  }
  & p:hover::after {
    content: "";
  }
}

.navbar-bracelet-content-text-active {
  &{
    background-color: #d9d9d9;
    color: black;
    }
  &::after {
    content: "";
  }
}



// -----------------Main Start button-----------------------

.main-start-button-holder {
  @include fontSelect(Montserrat, sans-serif);
  width: 100vw;
  font-weight: 300;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99;
  bottom: 12%;
}

.main-start-button {
  &{
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: rgba(0,0,0,0);
    @include borderCreate(0px, 4px, solid, white);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    }
    &:hover{
    cursor: pointer;
    }
    &:active{
    }
}

@media (max-width: 1000px) {

.main-start-button {
    font-size: 3em;
    @include borderCreate(0px, 4px, solid, white);
    }

}

@media (max-width: 700px) {

.main-start-button {
    font-size: 4em;
    @include borderCreate(0px, 6px, solid, white);
    }

}

// ---------------------Userprofile buttons---------------------------
.userprofile-btn{
  &{
  font-size: 18px;
  margin-left: 1em;}
  &-pass{
  margin-left: 0px;
  font-size: 18px;
  }
}


// Map Buttons
.map-display-tip-symbol{
    & {   
        position:absolute;
        z-index: 100;
        top: 1.5%;
        right: 1%;
        color: white;
        @include noselect();
        
    }
    p:hover{
        cursor:pointer;
        font-size: 48px;
        @include transformScale(1.1,1.1);
        @include animate-ease(100ms);
    }
    p:active{
        @include transformScale(1.15,1.15);
        @include animate-ease(0ms);
    }
    & p{
        font-family: Roboto;
        font-size: 45px;
        @include transformScale(1,1);
        @include animate-ease(70ms);
    }
}

// Shop Product Buttons

.shop-content-button-goback{
  &{
    max-width: 90px;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: 24px;
    color: $gunMetal;
    @include fontSelect(lato, sans-serif);
    font-weight: 100;
  }
  &:hover{
    cursor:pointer;
    color: $seafloor;
    text-decoration: underline;
  }
}