// buttons



// Tab Buttons

  .nav-tabs>li>a{
    & {
      color: $charcol;
      border-radius: 0px;
      margin: 0px;
      border: 0px;
    }

    &:hover {
      cursor: pointer;
      background-color: $charcol;
      color: white;
      margin: 0px;
      @include animation(1000ms);
    }
  }

  .nav-tabs>li.active>a{
      &, &:hover, &:focus {
      color: white;
      cursor: pointer;
      border: 0px;
      background-color: $charcol;
      border: 0px;
      margin: 0px;
      @include animation(1000ms);
    }
  }

// Tab SVG Buttons

.button:hover {
  & {
  cursor: pointer;
  }

  & #line1 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #line2 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #line3 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #line4 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #prof_line1 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #prof_line2 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #prof_line3 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #prof_line4 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #prof_line5 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #prof_line6 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
  & #prof_line7 {
  stroke: #eeeeee;
  @include animation(100ms);
  }
}

#prof_button {
  margin-right: 30px;
}

.svg_buttons {
  display: flex;
  justify-content: space-around;
}

// Dropdown Menu Buttons

.dropdown-menu{
  min-width: 0px;
  left: -30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #ccc;
  &>li>a:hover{
    background-color: $charcol;
    color: $white;
    @include animation(200ms);
  }
}

// Navbar Buttons

.navbar-button {
  &{font-style: bold;
  color: #0d0d0d;
  }
  &:hover{
  cursor: pointer;
  background: linear-gradient(to right, white 90%, black 10%);
  }
}

.navbar-bracelet-content{
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

.navbar-bracelet-content-visible{
  & {
    opacity: 1;
    height: 100%;
  }
  & p {
    font-size: 24px;
  }
  & p:hover {
    color: black;
    background-color: #d9d9d9;
    cursor: pointer;
  }
  & p:hover::after {
    content: "' ''";
  }
}

.navbar-bracelet-content-text-active {
  &{
    background-color: #d9d9d9;
    color: black;
    }
  &::after {
    content: "' ''";
  }
}

