// buttons



// Tab Buttons

  .nav-tabs>li>a{
    & {
      color: $charcol;
      border-radius: 0px;
      margin: 0px;
      border: 0px;
    }

    &:hover {
      cursor: pointer;
      background-color: $charcol;
      color: white;
      margin: 0px;
      @include animation(1000ms);
    }
  }

  .nav-tabs>li.active>a{
      &, &:hover, &:focus {
      color: white;
      cursor: pointer;
      border: 0px;
      background-color: $charcol;
      border: 0px;
      margin: 0px;
      @include animation(1000ms);
    }
  }

// Dropdown Menu Buttons

.dropdown-menu{
  min-width: 0px;
  left: -30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #ccc;
  &>li>a:hover{
    background-color: $charcol;
    color: $white;
    @include animation(200ms);
  }
}