// BUTTONS


//-----------------------TAB BUTTONS-----------------------
.nav-tabs>li>a{
  & {
    @include fontSelect(lato, sans-serif);
    font-size: 2.5em;
    padding: 5px 12px;
    color: $tabColor;
    margin-bottom: 1px;
    margin: 0px 0px 0px 0px;
    border: 0px;
    @include animate-ease(300ms);
  }

  &::after{
    content: "";
    height: 6px;
    background-color: $icon;
    left: 0;
    right: 0;
    top: -4px;
    @include animate-ease(300ms);
  }

  &:hover {
    &{      
      cursor: pointer;
      color: $icon;
      margin: 0px 0px 0px 0px;
      @include animate-ease(300ms);
      background-color: white;
    }
    &::after{
      @include animate-ease(300ms);
      position: absolute;
      top: 0px;
    }
  }
}

.nav-tabs>li.active>a{
  &, &:hover, &:focus {
    color: $icon;
    cursor: pointer;
    border: 0px;
    margin: 0px 0px 0px 0px;
    @include animate-ease(300ms);
  }
  &::after{
      position: absolute;
      top: 0px;
      @include animate-ease(300ms);
    }
}


//-----------------------TAB SVG BUTTONS-----------------------
.button:hover, .active {
  & {
    cursor: pointer;
  }

  & #line1 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #line2 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #line3 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #line4 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #prof_line1 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #prof_line2 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #prof_line3 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #prof_line4 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #prof_line5 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #prof_line6 {
    stroke: $icon;
    @include animation(100ms);
  }
  & #prof_line7 {
    stroke: $icon;
    @include animation(100ms);
  }
}

#prof_button {
  margin-right: 30px;
}

// Tab Hamburger Icon
.glyphicon-menu-hamburger {
  font-size: npx;
}

#prof_burger {
  margin-top: 5px;
  margin-right: 30px;
}


//-----------------------DROPDOWN MENU BUTTONS-----------------------
.dropdown-menu{
  &{
    padding-top: 6px;
    margin-top: 22px;
    min-width: 0px;
    @include centerNoFlex();
    border-top: 0px;
    border-top-left-radius: 0;
    border-left: 0px;
    border-right: 0px;
    border-top-right-radius: 0;
    border-bottom: 1px solid #ccc;
  }

  &>li>a:hover{
    background-color: white;
    color: $icon;
    @include animate-ease(200ms);
  }
}


//-----------------------NAVBAR BUTTONS-----------------------
.navbar-button {
  &{
    @include fontSelect(lato, sans-serif);
    color: $tabColor;
    font-size: 1em;
    @include animate-ease(300ms);
  }
  &::before{
    margin-top: 8px;
    content: "";
    height: 1em;
    width: 1em;
    background-color: rgba(24,166,183, 0);
    @include animate-ease(300ms);
    position: absolute;
    left: 13vw;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  &:hover{
    padding-left: 1.2em;
    cursor: pointer;
    color: $icon;
    @include animate-ease(300ms);
  }
  &:hover::before{
    content: "";
    height: 1em;
    width: 1em;
    left: 15vw;
    background-color: rgba(24,166,183, 1);
    @include animate-ease(300ms);
  }
  &-active{
    padding-left: 1.2em;
    color: $icon;
  }
  &-active::before{
    color: $icon;
    content: "";
    height: 1em;
    width: 1em;
    left: 15vw;
    background-color: rgba(24,166,183, 1);
    @include animate-ease(300ms);
  }
}


//-----------------------MAIN START BUTTON-----------------------
.main-start-button-holder {
  @include fontSelect(Montserrat, sans-serif);
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99;
  bottom: 12%;
}

.main-start-button {
  &{
    text-align: center;
    font-size: 4em;
    color: white;
    background-color: rgba(0,0,0,0);
    @include borderCreate(0px, 6px, solid, white);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
  }
  &:hover{
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .main-start-button {
    font-size: 3em;
    @include borderCreate(0px, 4px, solid, white);
  }
}

@media (max-width: 700px) {
  .main-start-button {
    font-size: 4em;
    @include borderCreate(0px, 6px, solid, white);
  }
}


//-----------------------MAP BUTTONS-----------------------
.map-display-tip-symbol{
  & {   
      position:absolute;
      z-index: 100;
      top: 1.5%;
      right: 1%;
      color: white;
      @include noselect();
  }
  p:hover{
      cursor:pointer;
  }
  p{
      font-family: Roboto;
      font-size: 3em;
  }
}


//-----------------------SHOP PRODUCT BUTTON 'GO BACK'-----------------------
.shop-content-button-goback{
  &{
    max-width: 90px;
    margin-left: 5%;
    font-size: 1.5em;
    color: $gunMetal;
    @include fontSelect(lato, sans-serif);
    font-weight: 100;
  }
  &:hover{
    cursor:pointer;
    color: $seafloor;
    text-decoration: underline;
  }
}

//-----------------------GENERIC BUTTON-----------------------
.generic-button-default{
  &{  
    font-size: 24px !important;
    font-family: lato, sans-serif !important;
    font-weight: 300 !important;
    border-radius: 2px;
    background-color: rgb(24,166,183);
    color: white !important;
    display: inline-block;
    padding: 3px 8px 3px 8px;
    text-align: center;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(24,166,183) !important;
    -webkit-transition: background-color 200ms cubic-bezier(.2,.01,.63,.98);
    -moz-transition: background-color 200ms cubic-bezier(.2,.01,.63,.98);
    -o-transition: background-color 200ms cubic-bezier(.2,.01,.63,.98);
    transition: background-color 200ms cubic-bezier(.2,.01,.63,.98); 
  }
  &:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(24,166,183) !important;
  }
  &:focus {
    outline: none;
  }
}

.generic-button-danger{
  &{  
    font-size: 24px !important;
    font-family: lato, sans-serif !important;
    font-weight: 300 !important;
    border-radius: 2px;
    background-color: rgb(255,255,255) !important;
    color: red !important;
    padding: 3px 8px 3px 8px;
    text-align: center;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: red !important;
    -webkit-transition: background-color 200ms cubic-bezier(.2,.01,.63,.98);
    -moz-transition: background-color 200ms cubic-bezier(.2,.01,.63,.98);
    -o-transition: background-color 200ms cubic-bezier(.2,.01,.63,.98);
    transition: background-color 200ms cubic-bezier(.2,.01,.63,.98); 
  }
  &:focus {
    outline: none;
  }
}