// Common Navbar elements

.navbar-holder {
  &{	
    padding-right: 8%;
  	height: 100%;
  	width: 15%;
  	display: flex;
  	flex-direction: column;
	  font-size: 2em;
  }
&-profile
  {
  	width: 14%;
  }
}

.navbar-content-holder {
	padding-top: 1em;
}

.navbar-static-text {
	@include fontSelect(Roboto Condensed, sans-serif);
  font-weight: 700;
	font-size: 1.3em;
	color: $tabColor;
}

/* ------------------ MEDIA QUERIES ----------------*/

@media (max-width: 1400px){
  .navbar-holder {
  &{  
      padding-right: 20%;
      font-size: 1.4em;
    }
  }

  .navbar-static-text {
    font-size: 1.5em;
  }
}