<div class="footer-wrapper">
	<div class="footer-text">
		<div class="footer-text-product">
			<h1>PRODUCT</h1>
			<p>shop</p>
			<p>stories</p>
		</div>
		<div class="footer-text-company">
			<h1>COMPANY</h1>
			<p>about</p>
			<p>terms</p>
			<p>privacy policy</p>

		</div>
		<div class="footer-text-contact">
			<h1>CONTACT</h1>
			<p>(703)-980-2219</p>
		</div>
		<div class="footer-text-social">
			<h1>FOLLOW US</h1>
			<p>twitter</p>
			<p>facebook</p>
			<p>instagram</p>
		</div>
	</div>

</div>
