<div class="tabs-holder" ng-controller="TabCtrl">

    <div>
        <p class="header-text">follow ° ' ''</p>
    </div>

    <div class="main-tabs">
        <tabset>
            <tab 
                ng-repeat="t in tabs" 
                heading="{{t.heading}}"
                select="go(t.route)"
                active="t.active">
            </tab>
        </tabset>
    </div>

    <div class="svg_buttons">

        <div class="button" id="prof_button" ng-click="go(seperateTabs2.routeLogin)" active="seperateTabs2.activeLogin">
            <svg id="prof_line1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="24px" height="32px" viewBox="0 0 24 32" enable-background="new 0 0 24 32" xml:space="preserve">
              <path id="prof_line2" fill="none" stroke="#000000" stroke-miterlimit="10" d="M1.057 30.908c0 0 1.004-18.297 6.731-18.297l0.587-0.001c0 0-8.375-10.82 3.625-10.82"/>
              <path id="prof_line3" fill="none" stroke="#000000" stroke-miterlimit="10" d="M22.817 30.908c0 0-1.005-18.297-6.731-18.297l-0.492-0.001c0 0 8.406-10.82-3.594-10.82"/>
            </svg>
        </div>

        <div class="button" ng-click="go(seperateTabs.route)" active="seperateTabs.active" >
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="24px" height="32px" viewBox="0 0 24 32" enable-background="new 0 0 24 32" xml:space="preserve">
                <path id="line1" fill="none" stroke="#000000" stroke-miterlimit="10" d="M0.499,4.954c0,0,1.413,0.332,1.804,1.462
                    c0.391,1.131,3.923,16.721,3.923,16.721s0.483,0.634,2.492,0.634s13.871,0,13.871,0"/>
                <polyline id="line2" fill="none" stroke="#000000" stroke-miterlimit="10" points="2.469,7.011 22.589,7.336 21.362,16.534 5.217,18.712 "/>
                <circle id="line3" fill="none" stroke="#000000" stroke-miterlimit="10" cx="5.403" cy="27.863" r="1.115"/>
                <circle id="line4" fill="none" stroke="#000000" stroke-miterlimit="10" cx="21.473" cy="27.863" r="1.116"/>
            </svg>
        </div>

    </div>

</div>
