// color variables

$charcol : #323232;
$white : #ffffff;
$offWhite : #ffffe6;
$lightBlue : #b3d9ff;
$footerGrey : #d9d9d9;

// Pallet Gunmetal
$cashmere : #cbc5c1;
$frenchBlue : #a2aab0;
$whiteWash : #ebeced;
$denim : #4c586f;
$gunMetal : #3e3e3b;

// Main Colors
$tabColor : $gunMetal;
$startButton : $gunMetal;
$backgroundColor : $whiteWash;
$divText : $denim;