
<div class="map-page-holder">
	
	<div class="map-holder">

		<div id="map_canvas"></div>

	</div>

	<div class="map-text-holder">
		<!--
		<div class="map-text-holder-main-coordinates">
			<h1>N <span>2°  28'  28.1713''</span></h1>
			<h1>W <span>38°  11'  44.1234''</span></h1>
		</div>
		-->
		<div class="map-text-holder-saved-coordinates">
			<!-- Test before I can dynamically add saved coords-->
			<div class="arrow-left"></div>
			<div class="map-text-holder-saved-coordinates-s1">
				<h1>N <span>12°  18'  48.1513''</span></h1>
				<h1>W <span>28°  11'  14.3224''</span></h1>
			</div>
			<div class="map-text-holder-saved-coordinates-block"></div>
			<div class="map-text-holder-saved-coordinates-s2">
				<h1>N <span>12°  18'  48.1513''</span></h1>
				<h1>W <span>28°  11'  14.3224''</span></h1>
			</div>
			<div class="map-text-holder-saved-coordinates-block"></div>
			<div class="map-text-holder-saved-coordinates-s3">
				<h1>N <span>12°  18'  48.1513''</span></h1>
				<h1>W <span>28°  11'  14.3224''</span></h1>
			</div>
			<div class="arrow-right"></div>
		</div>

	</div>

</div>