// Authentication page

.authentication-holder {
	height: 75vh;
	display: inline-block;
	margin-left: 50%;
  	transform: translate(-50%, 0%);
  	-webkit-transform: translate(-50%, 0%);
  	-moz-transform: translate(-50%, 0%);
  	-o-transform: translate(-50%, 0%);
}

.login_title {
	font-size: 3em;
	font-weight: bold;
	margin-top: 2em;
}

.login_subtitle {
	font-size: 1.2em;
	margin-bottom: 2em;
}

.form_class {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.form-login-holder {
	font-weight: bold;
	font-size: 15px;
}

.general_button {
	margin-top: 1em;
}

.switch-auth {
	& {
		color: $icon;
	}
	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	
}