.cart-content {
	&{
		width: 100%;
	    height: 100%;
	    display: flex;
	    padding-top: 7vh;
	    padding-left: 15vw;
	    padding-right: 15vw;
	}
	&-mergeDisplay{

	}

	& table{
		&{
			font-size: 30px;
			@include fontSelect(lato, sans-serif);
			font-weight: 400;
			width: 100%;
			height: 80%;
		}
		& thead {
		    display: table-header-group;
    		vertical-align: middle;
    		border-color: inherit;
		}
		& thead tr th{
			text-align: center;
		}
		& tbody {

		}
		& tbody tr {
			@include margin(10px, 10px, 0px, 0px);
		}
		& tbody td {
			font-size: 24px;
			@include fontSelect(lato, sans-serif);
			font-weight: 300;
			border-top: 1px;
			border-bottom: 1px;
			border-style: solid;
			text-align: center;
		}
	}

	&-thName{
		text-align: left !important;
	}

	&-img{
		&{
			padding: 15px 15px 15px 15px;
			max-width: 100%;
		}
		&-holder{
			border: 0;
			width: 10%;
		}
	}

	&-product{
		&Name{
			border: 0;
		}
		&Coord{
			border: 0;
		}
		&Size{
			border: 0;
		}
		&Qty{
			&{
				border: 0;
			}
			& input{
				width: 2.5em;
			}
		}
		&Total{
		border: 0;
		}
		&Price{
			border: 0;
		}
		&Remove{
			& {border: 0;
				border-color: black !important;
				color: red;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}

	&-cart-content-table-items{
		width: 100%;
		height: 80%;
		background-color: red;
	}
}