// templates index

@import '_generalview.scss';
@import '_authentication.scss';
@import '_main.scss';
@import '_map.scss';
@import '_tab.scss';
@import '_shop.scss';
@import '_userprof.scss';
@import '_footer.scss';
@import '_shop.product.scss';
@import '_cart.scss';