// main page sass


/* ------------------ TOP ----------------*/
// carousel

.button-carousel-wrapper{
  padding-top: 5vh;
  height: 100vh;
  width: 100vw;
}

.carousel{
  &-holder{
    position: relative;
    @include noselect();
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }
  &-inner>.item>img, .carousel-inner>.item>a>img {
    height: 95vh;

  }




  &-control {
    width: 4%;
  }
  &-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  }
  &-control.left:hover {
    cursor: pointer;
    @include animate-ease(500ms);
  }
  &-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  }
  &-control.right:hover {
    cursor: pointer;
    @include animate-ease(500ms);
  }
  &-indicators {
    visibility: hidden;
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  &-indicators li {
    margin-left: 20px;
    margin-right: 20px;
  }
  &-indicators .active {
    background-color: $white;
    margin-left: 20px;
    margin-right: 20px;
  }
}


/* ------------------ MIDDLE ----------------*/
.main-middle-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  background-color: $backgroundColor;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.main-middle-text-holder{
  margin-top: 6vh;
  margin-bottom: 6vh;
  @include leftRightMargins(15vw, 15vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-middle-text-holder-header{
  &{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;}
  & h1{
    @include fontSelect(Roboto Condensed, sans-serif);
    font-weight: 700;
    font-size: 48px;
  }
  &::after{
    @include underlineAfter(7px, 100px, 20px, $underLine)
  }
}

.main-middle-text-holder-steps{
  &{
  text-align: center;
  padding-top: 10vh;
  }
  & h1{
    @include fontSelect(Roboto Condensed, sans-serif);
    font-weight: 700;
    font-size: 36px;
  }
  & p{
  @include fontSelect(lato, sans-serif);
  font-size: 22px;
  @include leftRightMargins(10%, 10%);
  }
}
#step-first{
float: left;
width: 28%;
}
#step-middle{
float: left;
width: 44%;
}
#step-last{
float: left;
width: 28%;
}
// Pictures

.main-middle-picture-holder{
  justify-content: center;
  display: flex;
  margin-bottom: 6vh;
  @include leftRightMargins(10vw, 10vw);
  position: relative;
}

.main-middle-picture-holder img{
  display: flex;
  position: relative;
  width: 70%;
}

.main-middle-picture-holder-sub img{
  width: 100%;
  padding-left: 8px;
  display: flex;
  flex-direction: column;

}

#small-img{
  &-top{
    padding-bottom: 4px;
    overflow: hidden;
    position: relative;
  }
  &-bottom{
    padding-top: 4px;
    overflow: hidden;
    position: relative;
  }
}
/* ------------------ BOTTOM ----------------*/
/* ------------------ IMAGES ----------------*/