// main page sass


/* ------------------ TOP ----------------*/
// carousel

.button-carousel-wrapper{
  position: relative;
  padding-top: 5vh;
}

.carousel{
  &-holder{
    @include noselect();
  }
  &-inner>.item>img, .carousel-inner>.item>a>img {
    height: 85vh;
  }
  &-control {
    width: 4%;
  }
  &-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  }
  &-control.left:hover {
    cursor: pointer;
    @include animate-ease(500ms);
  }
  &-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  }
  &-control.right:hover {
    cursor: pointer;
    @include animate-ease(500ms);
  }
  &-indicators li {
    margin-left: 20px;
    margin-right: 20px;
  }
  &-indicators .active {
    background-color: $white;
    margin-left: 20px;
    margin-right: 20px;
  }
}


/* ------------------ MIDDLE ----------------*/
.main-middle-background{
  @include fontSelect(Montserrat, sans-serif);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  background-color: $backgroundColor;

  margin-top: 6vh;
  margin-bottom: 6vh;
}

.main-middle-text-holder{
  margin-top: 8vh;
  margin-bottom: 8vh;
  @include leftRightMargins(15vw, 15vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-middle-text-holder-header{
  &{
    font-size: 34px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;}
  &::after{
  content: "";
  display: block;
  height: 5px;
  width: 150px;
  margin: 40px auto 0;
  background-color: $tabColor;
  }
}

.main-middle-text-holder-steps{
  &{
  text-align: center;
  padding-top: 15vh;
  font-size: 26px;
  }
  & p{
  font-size: 18px;
  }
}
#step-first{
float: left;
width: 25%;
}
#step-middle{
float: left;
width: 50%;
}
#step-last{
float: left;
width: 25%;
}
// Pictures

.main-middle-picture-holder{
  justify-content: center;
  display: flex;
  margin-bottom: 6vh;
  @include leftRightMargins(10vw, 10vw);
}

.main-middle-picture-holder img{
  width: 70%;
}

.main-middle-picture-holder-sub img{
  width: 95%;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;

}
/* ------------------ BOTTOM ----------------*/
/* ------------------ IMAGES ----------------*/