.map-page-holder {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding-top: 5vh;
}

.map-holder {
    z-index: 99;
    text-align: center;
    width:100vw; 
    height: 90vh;
    /*box-shadow: 2px 2px 10px grey; */
    position: relative;
}

#map_canvas {
    z-index: 99;
    position: relative; 
    width: 100%; 
    height: 100%; 
}

.map-coords-display-holder{
    &{
        position:absolute;
        z-index: 100;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        color: white;
    }
    & p{
        letter-spacing: 13px;
        font-size: 1.1em;
        @include fontSelect(lucidia, serif);
    }
    & p span{
        padding-left: 20px;
        font-size: 1em !important;
        @include fontSelect(lato, sans-serif);
    }

}

.map-text-holder{
    &{
        z-index: 1;
        position: relative;
        padding-top: 10px;
        color: $tabColor;
    }
    &-main-coordinates{
        &{
            display: flex;
            justify-content: space-around;
        }
        & h1{
            letter-spacing: 13px;
            font-size: 54px;
            @include fontSelect(lucidia, serif);
        }
        & h1 span{
            padding-left: 20px;
            font-size: 50px;
            @include fontSelect(lato, sans-serif);
        }
    }

    &-saved-coordinates{
        &{  
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & div{
            display: flex;
            @include leftRightMargins(20px, 20px);
        }
        & h1:hover{
            cursor: pointer;
        }
        & div::after{
            /* use to place div turqouise blocks */
        }
        &-block{
            @include leftRightMargins(0px !important, 0px !important);
            width: 12px;
            height: 24px;
            background-color: $icon;
        }
        & h1{
            padding-left: 10px;
            padding-right: 10px;
            font-size: 24px;
            @include fontSelect(lucidia, serif);
        }
        & h1 span{
            padding-left: 20px;
            font-size: 20px;
            @include fontSelect(lato, sans-serif);
        }
        &-s1{
            display: flex;
        }
    }

    .arrow{
        &{
            width: 0; 
            height: 0; 
        }
        &-left:hover{
            cursor: pointer;
        }
        &-right:hover{
            cursor: pointer;
        }
        &-left{
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent; 
            border-right:15px solid $icon; 
        }
        &-right{
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid $icon;
        }
    }
}


