.map-page-holder {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding-top: 5vh;
}

.map-holder {
    z-index: 99;
    text-align: center;
    width:100%; 
    height: 100%;
    position: relative;
}

#map_canvas {
    z-index: 99;
    position: relative; 
    width: 100%; 
    height: 100%; 
}

.map-coords-display-holder{
    &{
        position:absolute;
        z-index: 100;
        bottom: 5%;
        @include centerNoFlex();
        text-align: center;
        background-color: $translucentLight;
        border-radius: 3px;
        @include padding(5px, 5px, 10px, 10px);
        width: 35%;
        display: flex;
        justify-content: space-around;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    & p{
        color: $tabColor;
        letter-spacing: 5px;
        font-size: .6em;
        @include fontSelect(lucidia, serif);
    }
    & p span{
        padding-left: 10px;
        @include fontSelect(lato, sans-serif);
    }
    &-right{
    }

}

.map-display-tip{
    &{   
        border-radius: 12px;
        background-color: $translucentGrey;
        height: 600px;
        width: 1200px;
        position:absolute;
        z-index: 100;
        @include centerNoFlex();
        top: 45%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    &:hover{
        cursor: pointer;
    }
    &-deactive{
        display:none;
    }
}

.controls {
    position:absolute;
    z-index: 100;
    top: 2%;
    left: 1%;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
border-color: #4d90fe;
}

.pac-container {
font-family: Roboto;
}