.map-page-holder {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding-top: 5vh;
}

.map-holder {
    z-index: 99;
    text-align: center;
    width:100%; 
    height: 100%;
    position: relative;
}

#map_canvas {
    z-index: 99;
    position: relative; 
    width: 100%; 
    height: 100%; 
}

.map-coords-display{
    & {    
        position:absolute;
        z-index: 100;
        bottom: 5%;
        @include centerNoFlex();
        width: 42%;
    }
    &-save{
        &{
            background-color: $translucentLight;
            @include padding(5px, 5px, 10px, 10px);
            border-radius: 3px;
            font-size: 1.2em;
            @include fontSelect(lato, sans-serif);
            float:right;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
        &:hover{
            cursor:pointer;
            color: $seafloor;
        }
        &:active{
            color:white;
        }
    }
    &-holder{
        &{
            width: 85%;
            float:left;
            background-color: $translucentLight;
            border-radius: 3px;
            @include padding(5px, 5px, 10px, 10px);
            display: flex;
            justify-content: space-around;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
        & p{
            color: $tabColor;
            letter-spacing: 5px;
            font-size: 1.2em;
            @include fontSelect(lucidia, serif);
        }
        & p span{
            padding-left: 10px;
            @include fontSelect(lato, sans-serif);
        }
        &-right{
        }
    }
}

.map-display-tip{
    &{   
        border-radius: 12px;
        background-color: $translucentLight;
        padding: 20px;
        position:absolute;
        z-index: 100;
        @include centerNoFlex();
        top: 40%;
        display:flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    &:hover{
        cursor: pointer;
    }
    &-deactive{
        display:none;
    }
    &-text-top{
        @include fontSelect(lato, sans-serif);
        font-size: 2.3em;
    }
    &-text-bottom{
        @include fontSelect(lato, sans-serif);
        font-size: 1.3em;
    }
}

.controls {
    position:absolute;
    z-index: 100;
    top: 2%;
    left: 1%;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

/* ------------------ MEDIA QUERIES ----------------*/

@media (max-width: 1400px){
  .map-coords-display{
        &-save{
            &{
                font-size: .7em;
            }
        }
        &-holder{
            & p{
                font-size: .7em;
            }
        }
    }

}

@media (max-width: 1100px){
    .map-coords-display{
        & {    
            width: auto;
        }
        &-save{
            &{
                font-size: 1.5em;
                float:none;
            }
        }
        &-holder{
            &{
                display: none;
            }
        }
    }

    .map-display-tip{
        &{   
            top: 40%;
        }
    }

    #pac-input {
        width: 150px;
    }

}

@media (max-width: 500px){
    .map-display-tip{
        &-text-top{
            @include fontSelect(lato, sans-serif);
            font-size: 1.5em;
        }
        &-text-bottom{
            @include fontSelect(lato, sans-serif);
            font-size: .7em;
        }
    }
}