// Shop

.shop-view-holder{
	width: 100vw;
	height: 100vh;
	display: flex;
	font-family: 'lato', sans-serif;
	padding-top: 5vh;
}



	
.shop-content-holder {
	width: 100%;
	height: 100%;
	padding-left: 3em;
	padding-top: 3em;
	display: flex;
}

.shop-content-main-holder {
	max-width: 750px;
}

.shop-content-main-image-holder{
}

.shop-content-main-image{
  	max-height: 450px;
}

.shop-content-main-image-small-holder{
	display: flex;
	flex-direction: row;
	border-top: solid;
    border-width: 5px;
}

.shop-content-main-image-small{

}




.shop-content-main-description-holder{

}

.shop-content-main-description-object{
	font-size: 42px;
}

.shop-content-main-description-details{
	font-size: 24px;
}

.shop-content-rightbar-holder{
	padding-left: 3em;

}

.shop-content-rightbar-size-holder {
	padding-top: 1em;
}

.shop-content-rightbar-size-selector-holder{
	display: flex;
}

.shop-content-rightbar-size-selector{
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	margin: 3px;
	width: 60px;
	height: 35px;
	border: solid;
}

.shop-content-rightbar-size-selector:hover{
	color: #a6a6a6;
	cursor: pointer;
	border-color: #a6a6a6;
}

.shop-content-rightbar-cart-holder{
	padding-top: 1em;

}