// Shop

.shop-view-holder{
	display: flex;
	margin-top: 8vh;
	margin-left: 15%;
  	margin-right: 15%;
  	position: absoulte;
}

.shop-content {
	&-holder{	
		width: 100%;
		padding-left: 7%;
		padding-top: 4%;
	}
	&-product{
		&{  
			float: left;
			width: 260px;
			height: 260px;
			margin-right: 3%;
			margin-bottom: 10%;
		}
		&:hover > h1 {
			color: $underLine;
			cursor: pointer;
		}
		&:hover > h2 {
			color: $underLine;
			cursor: pointer;
		}
		& img{
			width: 100%;
		}
		& img:hover {
			cursor: pointer;
		}
		& h1{
			@include fontSelect(lato, sans-serif);
			font-weight: 300;
			font-size: 30px;
			color: $tabColor
		}
		& h2{
			@include fontSelect(lato, sans-serif);
			font-weight: 300;
			font-size: 28px;
			color: $tabColor;
		}
	}
}

/* ------------------ MEDIA QUERIES ----------------*/

@media (max-width: 1400px){
	.shop-content {
		&-holder{	
			padding-left: 9%;
		}
		&-product{
			&{  
				float: left;
				width: 260px;
				height: 260px;
				margin-right: 3%;
				margin-bottom: 10%;
			}
			&:hover > h1 {
				color: $underLine;
				cursor: pointer;
			}
			&:hover > h2 {
				color: $underLine;
				cursor: pointer;
			}
			& img{
				width: 100%;
			}
			& img:hover {
				cursor: pointer;
			}
			& h1{
				@include fontSelect(lato, sans-serif);
				font-weight: 300;
				font-size: 30px;
				color: $tabColor
			}
			& h2{
				@include fontSelect(lato, sans-serif);
				font-weight: 300;
				font-size: 28px;
				color: $tabColor;
			}
		}
	}
}

@media (max-width: 1000px){
	.shop-content-holder{	
		padding-left: 12%;
	}
}


/* ------------------ MOBILE -----------------------*/
.shop-topbar-holder{
	& {
		position: absolute;
		background-color: white;
		width: 72%;
	}
	& > div:nth-child(2){
		float: right;
	}
	& > div:nth-child(1){
		float: left;
	}
}

.shop-content-mobile {
	&-holder{	
		margin-top:8vh;
		display: flex;	
		flex-direction: column;
	}
	&-product{
		&{  
		}
		&:hover > h1 {
			color: $underLine;
			cursor: pointer;
		}
		&:hover > h2 {
			color: $underLine;
			cursor: pointer;
		}
		& img{
			width: 100%;
		}
		& img:hover {
			cursor: pointer;
		}
		& h1{
			@include fontSelect(lato, sans-serif);
			font-weight: 300;
			font-size: 30px;
			color: $tabColor
		}
		& h2{
			@include fontSelect(lato, sans-serif);
			font-weight: 300;
			font-size: 28px;
			color: $tabColor;
			margin-bottom: 15%;
		}
	}
}

/* ------------------ MEDIA QUERIES ----------------*/