/* Push the main viewport a little bit down */

.main-view {
  height: 20%;
}

.tab-holder {
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 199;
  padding-bottom: 18px;
  width: 100%;
  background-color: white;
  padding-left: 15%;
  padding-right: 15%;
}

#tab-container {
  text-align:center;
}

#tab-left {
  & { 
    @include centerVerticle();
    float:left;
    width:300px;
  }
  & img {
    width: 65%;
    height: 65%;
  }
}

#tab-center {
  font-size: 1em;
  display: inline-block;
  margin:0 auto;
  width:300px;
}

#tab-right {
  & {
      @include centerVerticle();
      float:right;
      width:300px;
  }
  & .svg-buttons-holder {
    float:right;
    display: flex;
  }
}

.button {
  float: right;
}

/*--------------Media Queries ----------------*/
@media (max-width: 1500px){
  #tab-left {
    & { 
      width:250px;
    }
  }

  #tab-center {
    width:250px;
    font-size: .9em;
  }

  #tab-right {
    & {
        width:250px;
    }
  }
}

@media (max-width: 1200px){
  .tab-holder{
    padding-left: 5%;
    padding-right: 5%;
  }

  .header-text {
    font-size: .7em;
  }
}
