/* Push the main viewport a little bit down */

.main-view {
  height: 20%;
}

.tabs-holder {
  position: fixed;
  clear: both;
  top: 0; left: 0;
  z-index: 199;
  display: flex;
  justify-content: space-around;
  @include fontSelect(lato, sans-serif);
  font-size: 28px;
  padding-bottom: 0px;
  max-height: 8vh;
  width: 100vw;
  background-color: white;
  align-items: center;
}

.tabs-under {
  top: 0; left: 0;
  z-index: 198;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 5vh;
  width: 100vw;
  background-color: white;
}

.nav-tabs {
  border-bottom: 0px;
}

.header-text {
  font-size: 28px;
  margin: 0px;
}

.background-image {
  background-image: url("../images/bg2.png");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: right top;
}

.tabs-logo-img{
  max-width: 50px;
  max-height: 50px;
}
