/* Push the main viewport a little bit down */

.main-view {
  height: 20%;
}

.tabs-holder {
  position: fixed;
  clear: both;
  top: 0; 
  left: 0;
  z-index: 199;
  padding-bottom: 3px;
  width: 100vw;
  background-color: white;
  align-items: center;
  padding-left: 15vw;
  padding-right: 15vw;
  float: left;
}

.main-tabs{
  font-size: .8em;
  float: left;
  margin-left: 50%;
  transform: translate(-100%, 0%);
  -webkit-transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -o-transform: translate(-100%, 0%);
}



.header-text {
  font-size: .8em;
  float: left;
  transform: translate(0%, 25%);
  -webkit-transform: translate(0%, 25%);
  -moz-transform: translate(0%, 25%);
  -o-transform: translate(0%, 25%);
}

.svg_buttons {
    float: right;
  display: flex;
    transform: translate(0%, 25%);
  -webkit-transform: translate(0%, 25%);
  -moz-transform: translate(0%, 25%);
  -o-transform: translate(0%, 25%);
}

.button {
  float: right;
}

.tabs-under {
  top: 0; left: 0;
  z-index: 198;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 5vh;
  width: 100vw;
  background-color: white;
}

.nav-tabs {
  border-bottom: 0px;
}

.tabs-logo-img{
  max-width: 50px;
  max-height: 50px;
}

/*--------------Media Queries ----------------*/

@media (max-width: 1000px){


  .header-text {
    font-size: .7em;
  }
}

@media (max-width: 500px){

  .header-text {
    font-size: .5em;
  }
}