
<!-- INDIVIDUAL PRODUCT VIEW -->

<div class="shop-content-button-goback" ng-controller="RouteCtrl" ui-sref="shop" ui-sref-active="active">go back</div>

<div class="shop-content-main-holder">

	<div class="shop-content-main-image-holder" ng-controller="ShopCtrl">

		<img class="shop-content-main-image" ng-src="{{currentSelectedProduct.imgLink}}" ng-click="returnProduct()">

	</div>

</div>
<!--
<div class="shop-content-rightbar-holder">

	<div class="shop-content-rightbar-description-holder">

		<h1 class="shop-content-rightbar-description-object">{{currentSelectedProduct.name}}</h1>

		<div class="shop-content-rightbar-description-details">

			<p>{{currentSelectedProduct.description}}</p>

		</div>

	</div>

	<div class="shop-content-rightbar-price">

		<p>{{currentSelectedProduct.price | currency}}</p>

	</div>

	<div class="shop-content-rightbar-map-holder" ng-controller="RouteCtrl">

		<h2>Coordinates</h2>

		<h3>{{currentCoordinates.lat}}</h3>
		<h3>{{currentCoordinates.lng}}</h3>

		<p class="generic-button-default" ui-sref="map" ui-sref-active="active">map</p>

	</div>

	<div class="shop-content-rightbar-size-holder">

		<p>Size</p>

		<div class="dropdown">

			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{sizeDefault}}
			<span class="caret"></span></button>

			<ul class="dropdown-menu size-dropdown">

				<li  ng-disabled="true">choose size</li>
				<li ng-repeat="s in sizes" ng-click="changeDropdownSelected(s)">{{s}}</li>

			  </ul>

		</div>

	</div>

	<div class="cart-btn generic-button-default">
		<span ng-click="exportProduct()"  ng-hide="loading">Add to Cart</span>
  		<span ng-show="loading">Adding</i></span>
	</div>

</div>
-->