	<!-- INDIVIDUAL PRODUCT VIEW -->
<div class="shop-view-holder">

	<shop-navbar></shop-navbar>

	<div class="shop-content-holder">

		<div class="shop-content-button-goback" ng-controller="RouteCtrl" ng-click="go(tabs[1].route); tabs[1].active">go back</div>

		<div class="shop-content-main-holder">

			<div class="shop-content-main-image-holder" ng-controller="ShopCtrl">

				<img class="shop-content-main-image" ng-src="http://placehold.it/750x450" ng-click="returnProduct()">

				<div class="shop-content-main-image-small-holder">

					<img class="shop-content-main-image-small" ng-src="http://placehold.it/150x150">

					<img class="shop-content-main-image-small" ng-src="http://placehold.it/150x150">

					<img class="shop-content-main-image-small" ng-src="http://placehold.it/150x150">

					<img class="shop-content-main-image-small" ng-src="http://placehold.it/150x150">

					<img class="shop-content-main-image-small" ng-src="http://placehold.it/150x150">

				</div>

			</div>



		</div>

		<div class="shop-content-rightbar-holder">

			<div class="shop-content-rightbar-description-holder">

				<h1 class="shop-content-rightbar-description-object">{{currentSelectedProduct.name}}</h1>

				<div class="shop-content-rightbar-description-details">

					<p>{{currentSelectedProduct.description}}</p>

				</div>

			</div>

			<div class="shop-content-rightbar-price">

				<p>{{currentSelectedProduct.price | currency}}</p>

			</div>

			<div class="shop-content-rightbar-map-holder" ng-controller="RouteCtrl">

				<h2>Coordinates</h2>

				<h3>{{currentCoordinates.lat}}</h3>
				<h3>{{currentCoordinates.lng}}</h3>

				<p ng-click="go(states.mapPage.route)">map</p>

			</div>

			<div class="shop-content-rightbar-size-holder">

				<p>Size</p>

				<div class="dropdown">

					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{sizeDefault}}
					<span class="caret"></span></button>

					<ul class="dropdown-menu">

						<li  ng-disabled="true">choose size</li>
						<li ng-repeat="s in sizes" ng-click="changeDropdownSelected(s)">{{s}}</li>

					  </ul>

				</div>

			</div>

			<div class="shop-content-rightbar-cart-holder">

				<p ng-disabled="" ng-click="exportProduct()">add to cart</p>

			</div>

		</div>

	</div>

</div>

<footer></footer>