<templatehold ng-controller="TabCtrl" templates="tabview"></templatehold>

<div class="shop-view-holder">
	<div class="navbar-holder">

		<!-- NOTE: It's bad practice to duplicate the navbar when it already exists in a directive change this to the directive when you know how to let it reference the products in the controller -->
		<div class="navbar-content-holder">
				<div class="navbar-static-text">
					BRACELETS
				</div>
				<div ng-repeat="b in menuButtons" ng-click="buttonActive(b);" class="navbar-button" ui-sref="shop" ng-class="{'navbar-button-active': b.isActive}">
					{{b.header}}
				</div>
		</div>

	</div>

	<div class="shop-content-holder" ng-hide="getState()">
			<div ng-click="setProduct(p)" ui-sref-active="active" ng-repeat="p in products | filter:productMatch" class="shop-content-product">
				<img ng-controller="RouteCtrl" ng-src="{{p.imgLink}}"/>
				<h1>{{p.name}}</h1>
				<h2>{{ p.price | currency }}</h2>
			</div>
	</div>

 <div ng-show="getState()" class="shop-product-holder" ui-view="mainView.product"></div>